// Variables for the project
$dark-blue-primary: #0a6dbc;
$dark-blue-secondary: #00438b;
$dark-blue-tertiary: #1e73be; 
$white: #ffffff;
$headline-color: #4c4c4c;
$dark-border: #003e52; 
$color-black: #000000; 

$light-grey-color: #d3d3d3;
$grey-color: #b2b2be;
$grey-color-secondary: #575760; 
$progress-bar-background: #e0e0e0;

// $dark-border-secondary: rgba(0, 0, 0, 0.87); 
// $dark-background-teriary: rgba(255, 255, 255, 0); // Variables for the project




// @media min-width 768px;
// (min-width: 480px) 
// (max-width: 839px)
// min-width: 840px
