// Variables for the project
$dark-blue-primary: #0a6dbc;
$dark-blue-secondary: #00438b;
$dark-blue-tertiary: #1e73be; 
$white: #ffffff;
$headline-color: #4c4c4c;
$dark-border: #003e52; 
$color-black: #000000; 
$bg-blue: #0a6afcdc;
$light-grey-color: #d3d3d3;
$grey-color: #b2b2be;
$grey-color-secondary: #575760; 
$progress-bar-background: #e0e0e0;

$min-mobile-width: 0px; 
$menu-mobile-width: 479px; 
$min-tablet-width: 480px;
$max-tablet-width: 839px; 
$tablet-zwischen-width:  768px;
$menu-desktop-width: 840px;
