@use "../abstracts";
@import "../abstracts/variables";

#foxbase-selector {

/* progress bar on mobile */
@media (max-width: 839px) {
    & .app-questionnaire-progress-bar {
        width: calc(100% + 48px) !important;
        position: relative !important;
    }
}


@media (max-width: 839px) {
    & .app-questionnaire-progress-bar {
    width: 100% !important;
    position: relative !important;
}

}
}