/* @use "../abstracts"; */

/* to apply this design add additional class to the page title, for example:  
 <div  class="question-number">#5</div> Deckkraft Untergründ */


 /* disable the |Enable editing of user inputs on result page| setting in the result page tab 
 
  set Number of product columns to 3*/

//   body, button, input, select, textarea {
//     font-family: "Roboto", sans-serif !important;
//     font-size: 18px !important;
// }



/* This design is to apply when you would like to have all the buttons/cards/checkboxes rounded */

@use "../abstracts";
@import "../abstracts/variables";


// Variables for the project
// $dark-blue-primary: #0a6dbc;
// $dark-blue-secondary: #00438b;
// $dark-blue-tertiary: #1e73be; 
// $white: #ffffff;
// $headline-color: #4c4c4c;
// $dark-border: #003e52; 
// $color-black: #000000; 

// $light-grey-color: #d3d3d3;
// $grey-color: #b2b2be;
// $grey-color-secondary: #575760; 
// $progress-bar-background: #e0e0e0;


#foxbase-selector {

font-family:  "Roboto", sans-serif !important;
  & .mdc-typography--headline6,
& .mdc-typography--headline5,
& .mdc-button,
& .sel-card__title,
& .app-questionnaire-navigation-item,
& .app-questionnaire-navigation-item__answers,
& .sel-product-no-result p,
& .mdc-typography--body1,
& .sel-question__header,
& body,
& .mdc-typography--subtitle1,
& .mdc-typography--subtitle2,
& div,
& span,
& .sel-product__list-section ul li,
& .sel-product__list-expand-section a,
& .sel-product__list-expand-section-header,
& .mdc-floating-label,
& .mdc-text-field__input,
& .mdc-select__native-control,
& option,
& .sel-image-button .app-grid-tile__title,
& .mdc-button:not(:disabled) {  
  font-size: 1rem !important;
  line-height: 1.5 !important;
  font-family:  "Roboto", sans-serif !important;
  font-weight: bold !important; 
}
  

  


& .sel-question {
  position: relative !important;


  &:not(:last-child) {
  margin-bottom: 3rem !important;
}
}

& info-area {
  display: block !important;
  margin-bottom: 2rem !important;
}
& questionnaire-navigation.mdc-layout-grid__cell {
  display: none !important;
  position: relative !important;
  justify-self: flex-end !important;
  padding-left: 3rem !important;

  @media (min-width: 768px) {
  & {
    display: block !important;
    grid-column: 10/span 3 !important;
    width: 100% !important;
  }
}

}



& img {
  & .star {
  max-height: 25px !important;
}
& .filter {
  max-height: 35px !important;
}
}




/* resets padding and margin for the selector */

@media (min-width: 840px) {
  & .mdc-layout-grid {
  box-sizing: border-box !important;
  margin: 0 auto !important;
  padding: 0px !important;
 
}
}









@media (max-width: 839px) {
& .app-questionnaire-progress-bar__background {
  position: relative !important;
  width: 100% !important;
  /* background-color: #e0e0e0 !important; */
  height: 10px !important;
}
}

/* progress bar on mobile */
@media (max-width: 839px) {
  & .app-questionnaire-progress-bar {
      width: calc(100% + 48px) !important;
      position: relative !important;
  }
}
@media (max-width: 839px) {
  result-page .sel-navigation--progress-bar .sel-navigation__progress-bar {
      width: calc(100% + 48px) !important;
      position: relative !important;
  }
}

@media (min-width: 0px) and (max-width: 479px) {
  & .mdc-layout-grid__cell {
      width: 100% !important;
  }
}



/* progress bar on tablet */
@media (min-width: 480px) and (max-width: 839px) {
  & .app-questionnaire-progress-bar {
      width: calc(100% + 48px) !important;
      position: relative !important;
  }
}

/* progress bar */

@media (min-width: 480px) and (max-width: 839px) {
  & .app-questionnaire-progress-bar__background {
      width: 100% !important;
      /* position: relative !important;
      grid-column-end: 11 !important; */
  }
}


/* Hide navigation on the result page */


& result-page questionnaire-navigation.mdc-layout-grid__cell {
  display: none !important; 
}




/* ----------------------------Progress BAR with GRADIENT------------ */
& .app-questionnaire-progress-bar__background {
  height: 10px !important;
  
}


& .app-questionnaire-progress-bar__progress {
  background: linear-gradient(270deg, #003e52 0%, #0a6afcdc 100%) !important;
  // *270deg, $dark-border 0%, #0a6afcdc 100%)
  height: 10px !important;
  
}



@media (min-width: 840px){
  & header.sel-page-header.mdc-layout-grid__cell.mdc-layout-grid__cell--span-8-tablet.mdc-layout-grid__cell--span-12-desktop {
  
  /* sets where the page header should start and end horizontally*/
    grid-column-start: 1 !important;
  grid-column-end: span 12 !important;
}}



& header.sel-page-header.mdc-layout-grid__cell.mdc-layout-grid__cell--span-8-tablet.mdc-layout-grid__cell--span-12-desktop {
  /* changes the order of elements in the header */
  display: inline-flex !important;
  flex-direction: column-reverse !important;
  margin-top: -10px !important;
}



& .app-questionnaire-progress-bar__background {
  /* setting the width, height and bg color */
  position: relative !important;
  width: 100% !important;
  /* background-color: #e0e0e0 !important; */
  height: 10px !important;
}



@media (min-width: 840px) {
  /* resets padding and margin for the selector */
  & .mdc-layout-grid {
  box-sizing: border-box !important;
  margin: 0 auto !important;
  padding: 0px !important;
 
}
}





/* --------------------------------------CHECKBOXES with images------------------------------- */

  /*hide checkbox image spacing*/
& #foxbase-9 .mdc-grid-tile__primary-content {
  display: block !important;
}

  /*---------------------------------------- Checkboxes in questionnaire----------------------------------*/
/* ---------------------------------different backgrounds, icons and "fake" button ----------------------- */
/*To prepare the styling specifically for the page 9, add the page id #foxbase-9 after  &*/
@media (min-width: 840px){
  & #foxbase-9 .sel-question--with-navigation .sel-image-button--divisible-by-three {
  width: calc(30% - 24px) !important;
  height: 100% !important;
   padding: 21px !important;
  }
}



& #foxbase-9 .sel-grid-list--checkboxes .sel-image-button .app-grid-tile__title {
  margin-bottom: 60px !important;
  display: none !important; 
  
}
& #foxbase-9 .sel-grid-list--checkboxes .sel-image-button .mdc-typography--subtitle2 {
  margin-bottom: 130px !important;
}
& #foxbase-9 .sel-image-button .app-grid-tile__secondary {
  padding: 0px !important;
}
& #foxbase-9 .sel-grid-list--checkboxes .sel-image-button .app-grid-tile__secondary {
  background-color: transparent !important;
  color: $dark-blue-primary !important;
  font-size: 15px !important;
  line-height: 21px !important;
  margin-bottom: 120px !important; 
}
@media (max-width: 839px) {
    & #foxbase-9 .sel-grid-list--checkboxes .sel-image-button .app-grid-tile__secondary {
        margin-bottom: 20px !important; 
    }

}




/* icon in checkbox image as a sprite image for selected and not selected status */
& #foxbase-9 .mdc-grid-tile__primary-content {
  object-fit: cover !important;
  object-position: 0 0 !important;
  width: 50px !important;
  height: 50px !important;
  margin-right: auto !important;
    margin-left: auto !important;
  /*outline: none !important;*/
}
& #foxbase-9 .sel-image-button--selected .mdc-grid-tile__primary-content {
  object-fit: cover !important;
  object-position: 100% 0 !important;
  margin-right: auto !important;
    margin-left: auto !important;
  /*outline: none !important;*/
}

/* hide checkmark and checkmark corner */
& #foxbase-9 .sel-grid-list--checkboxes .sel-checkbox {
  display: none !important;
}

/* additional select button in checkbox */
& #foxbase-9 .sel-grid-list--checkboxes .mdc-typography--subtitle2::after {
  content: "okay";
  background-color: $dark-blue-primary !important;
  padding: 10px 20px !important;
  border: 1px solid $dark-blue-primary !important;
  color: $white !important;
  position: absolute !important;
  border-radius: 6px !important; 
  
  /*left: 10% !important;
  top: 5% !important;
  margin-top: 70px !important;*/
  bottom: -180% !important;
  margin-right: auto !important;
  margin-left: auto !important;
  font-family:  "Roboto", sans-serif !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 16px !important;
  letter-spacing: 0em !important;
}

&  #foxbase-9 .sel-grid-list--checkboxes .sel-image-button {
  padding: 21px !important; 
  border: 2px solid #004982 !important;
border-radius: 28px !important;
}


/* checkboxes hover */

&  #foxbase-9 .sel-grid-list--checkboxes .sel-image-button--selected {
  background-color: $dark-blue-secondary !important;
  border: 2px solid $dark-blue-secondary !important;

  /* border-image-source: linear-gradient(270deg, #003e52 0%, #0a6afcdc 100%) !important; */
  color: $white !important;
  border-image-slice: 1 !important;
  box-shadow: none !important;
  padding: 21px !important; 
  border-radius: 28px !important;

}


&  #foxbase-9 .sel-grid-list--checkboxes .sel-image-button--selected .app-grid-tile__secondary{
  
  color: $white !important;
}


& #foxbase-9 .sel-image-button--selected .mdc-grid-tile__primary-content {
  object-fit: cover !important;
  object-position: 100% 0 !important;
  /* outline: none !important; */
}


& .sel-grid-list--checkboxes .sel-image-button--selected .sel-grid-tile__primary {
    background-color: $dark-blue-secondary !important;
}
& .sel-image-button .mdc-grid-tile__primary.sel-grid-tile__primary {
    transition: background-color 150ms linear !important;
}
/* checkbox selected text*/
& .sel-grid-list--checkboxes .sel-image-button--selected .app-grid-tile__title,
& .sel-grid-list--checkboxes .sel-image-button--selected .app-grid-tile__secondary {
    color: $white !important;
}
/* hide the select button in checkbox*/
& .sel-grid-list--checkboxes .sel-image-button--selected .mdc-typography--subtitle2:after {
    display: none !important;
}
/* hide the select button in checkbox*/
& .sel-grid-list--checkboxes .sel-image-button[disabled] .mdc-typography--subtitle2:after {
    display: none !important;
}




/* hide disabled checkboxes */
& #foxbase-9 .sel-color-button[disabled],
& #foxbase-9 .sel-image-button[disabled] {
  display: none !important;
}
/* hide html div break in checkbox (otherwise, when disabled checkboxes are hidden, the checkbox will not continue in the previous empty spot/row) */
& #foxbase-9 .sel-question--with-navigation .sel-image-button-break {
  display: none !important;
}
/* add margin to each third checkbox */
@media (min-width: 840px) {
  & #foxbase-9 .sel-question--with-navigation .sel-image-button--divisible-by-three:nth-of-type(3n) {
      margin-right: 24px !important;

  }
}

/* new, their "1279px" is same as our 930px */
@media (min-width: 992px) and (max-width: 1279px) {
  & #foxbase-9 .sel-grid-list--checkboxes .sel-grid-tile__primary {
      padding-bottom: 105px !important; /*125*/
  }

  & #foxbase-9 .sel-grid-list--checkboxes .sel-grid-tile__primary {
      padding-bottom: 270px !important; /*125*/

  }


  & #foxbase-9 .sel-grid-list--checkboxes .sel-image-button .app-grid-tile__title {
      margin-bottom: 140px !important; /*170*/
  }
  & #foxbase-9 .sel-grid-list--checkboxes .sel-image-button .mdc-typography--subtitle2 {
      margin-bottom: 80px !important; /*100*/
  }
  & #foxbase-9 .sel-grid-list--checkboxes .mdc-typography--subtitle2::after {
      bottom: -170% !important; /*-210*/
  }
}
/*new*/
@media (min-width: 840px) and (max-width: 992px) {
  & #foxbase-9 .sel-grid-list--checkboxes .sel-grid-tile__primary {
      padding-bottom: 230px !important; /*240*/
  }
  & #foxbase-9 .sel-grid-list--checkboxes .sel-image-button .app-grid-tile__title {
      margin-bottom: 300px !important; /*300*/
  }
  & #foxbase-9 .sel-grid-list--checkboxes .sel-image-button .mdc-typography--subtitle2 {
      margin-bottom: 130px !important; /*120*/
  }
  & #foxbase-9 .sel-grid-list--checkboxes .mdc-typography--subtitle2::after {
      bottom: -270% !important; /*-250*/
  }
}



/* hide secondary filter */

& .app-result-page-filter__filter-box {
display: none !important; 

}


& .sel-top__section-name-share-button .mdc-button {
  display: none !important;
}



/* hide thumb on the result page */

& .sel-navigation__start-detail {
  display: none !important; 
} 



/* -----------------------------------RESULT PAGE------------------------ */


/* -------- product recommendation -------- */

/* product recommendation background */
& .app-result {
  /* width: 308px !important;  */
  background-color: $white !important;
  padding-top: 10px !important;
  border: 2px solid $dark-blue-secondary !important;
  border-radius: 24px !important; 
}

/* product recommendations sections */
& section {
  /* display: block !important;
  padding-left: 15px !important;
  padding-right: 15px !important; */
  padding-bottom: 20px !important;
  /* padding-top: 11.5px !important; */
}

/* fix (otherwise products "skip" certian div container placeholders) */
& .app-clickthrough {
  display: none !important;
}

/* border between product sections */
& result-page .sel-product__section:not(:last-of-type) {
  border-bottom: 1px solid #1e73be !important;
  height: auto !important;
}

/* add margin to minimize the border */
& result-page .sel-product__section:not(:last-of-type) {
  height: auto !important;
  margin-left: 15px !important;
  margin-right: 15px !important;
}

/* -------- product sections on result page ---------*/

/* product picture */
& .sel-product__image-section img {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
/* picture in product section in full width and without border */
& result-page .sel-product__section:nth-of-type(2) {
  margin-left: 0px !important;
  margin-right: 0px !important;
  border-bottom: none !important;
}

/* product title without border */
& result-page .sel-product__section:nth-of-type(1) {
  border-bottom: none !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
/* padding on title */
& h1.mdc-typography--headline5 {
  padding-top: 10px !important;
}
& section:nth-of-type(1) {
  padding-bottom: 10px !important;
}

/* last section (button) and section before button without border */
& result-page .sel-product__section:nth-last-of-type(2),
& result-page .sel-product__section:nth-last-of-type(3),
& result-page .sel-product__section:nth-last-of-type(6) section.sel-product__list-section {
  border-bottom: none !important;
}

/* padding after last section button */
& result-page .sel-product__section:nth-last-of-type(2) {
  margin-bottom: 5px !important;
  padding-bottom: 0px !important;
}

/* additional data expandable */
& .sel-product__list-expand-section {
  border: none !important;
  font-size: 15px !important;
  color: #003e52 !important;
  font-weight: 500 !important;
  line-height: 21px !important;
  font-style: normal !important;
  margin: 0px !important;
  padding: 0px !important;
}
& .sel-product__section.sel-product__section-name-additional-data-expandable {
  margin-bottom: 15px !important;
  padding-bottom: 0 !important;
}
& section.sel-product__list-expand-section.sel-product__section--ignore-calc-height {
  padding-bottom: 0px !important;
}
& .sel-product__list-expand-section--expanded .sel-product__list-expand-section__content {
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}
& .sel-product__list-expand-section-header {
  padding-right: 0px !important;
  color: $dark-blue-secondary !important;
}
/* & ul {
  list-style: disc !important;
} */

/* list in additional data when using html-list */
& .sel-product__list-section ul li::before {
  /* display: none !important; */
  margin-right: 10px !important;
  color: $dark-blue-secondary !important;
}
& .sel-product__list-section ul {
  padding: 0 !important;
}
/* checkmark in list in additional data expandable */
& .sel-product__list-expand-section__content ul li:before {
  margin-right: 10px !important;
  color: $dark-blue-secondary !important;
  display: inline-block !important;
  font-family: "Material Icons" !important;
  font-size: 24px !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-style: normal !important;
  font-weight: normal !important;
  letter-spacing: normal !important;
  line-height: 1 !important;
  text-rendering: optimizeLegibility !important;
  text-transform: none !important;
  word-wrap: normal !important;
  white-space: nowrap !important;
  direction: ltr !important;
  -webkit-font-feature-settings: "liga" !important;
  font-feature-settings: "liga" !important;
  content: "check" !important;
}
& .sel-product__list-expand-section__content ul li {
  height: auto !important;
  min-height: unset !important;
  padding: 6px 0 !important;
  text-align: left !important;
  white-space: normal !important;
  overflow: visible !important;
  display: flex !important;
  position: relative !important;
  align-items: center !important;
  justify-content: flex-start !important;
}

/* CTA button in product recommendation */
& result-page section .mdc-button--raised:not(:disabled) {
  /*border: 2px solid #003e52 !important;
  color: #003e52 !important;*/
  border: 2px solid #003e52 !important;
  color: #003e52 !important;
  font-family:  "Roboto", sans-serif !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  padding: 25px 20px !important;
  background-color: #003e52 !important; /*updated*/
  color: $white !important; /*updated*/
}
/*CTA button in product recommendation - hover */
& result-page section .mdc-button--raised:not(:disabled):hover,
& result-page section .mdc-button--raised:not(:disabled):active,
& result-page section .mdc-button--raised:not(:disabled):focus {
  color: #003e52 !important; /*updated*/
}










/*----------------------------------------- tablet design ------------------------------------------ */

/* questionnaire */

/* width of the cards and checkboxes in tablet design */
@media (min-width: 480px) and (max-width: 839px) {
    & .sel-question--with-navigation .sel-card {
        width: 100% !important;
        margin-right: 0px !important;
        /* margin-left: 16px !important; */
    }
    & .sel-question--with-navigation .sel-image-button--divisible-by-three {
        width: 100% !important;
        margin-right: 0px !important;
        /* margin-left: 16px !important; */
    }
}


@media (max-width: 480px) {
     & .sel-question--with-navigation .sel-card {
        width: 100% !important;
        margin-right: 0px !important;
        /* margin-left: 16px !important; */
    }

}



/* result page tablet card width */
@media (min-width: 480px) and (max-width: 839px) {
    & result-page .mdc-layout-grid__cell {
        width: 100% !important;
        /* width: calc(100% - 32px) !important;
        margin-right: 16px !important;
        margin-left: 16px !important; */
    }
}

/* buttons min width */
/* @media (min-width: 480px) and (max-width: 839px) {
    & .mdc-button:not(:disabled), & .mdc-button--raised:not(:disabled), & .mdc-button--unelevated:not(:disabled) {
        min-width: 150px !important;
    }
} */

/* form page input fields width */
@media (min-width: 480px) and (max-width: 839px) {
    & .mdc-layout-grid__cell--span-4-tablet {
        width: 100% !important;
        grid-column-end: span 8 !important;
    }
}

/* @media (min-width: 480px) and (max-width: 839px) {  
    .mdc-layout-grid__cell--span-2-tablet {
        width: 100% !important;
        grid-column-end: span 4 !important;
    }
} */

/* restart, show result buttons on tablet */
@media (min-width: 480px) and (max-width: 839px) {
    &
        questionnaire-navigation.app-relative.mdc-layout-grid__cell.mdc-layout-grid__cell--span-0-phone.mdc-layout-grid__cell--span-2-tablet {
        width: auto !important;
        grid-column-end: span 4 !important;
    }
}

/* hide navigation menu on tablet */
@media (min-width: 480px) and (max-width: 839px) {
    &
        questionnaire-navigation.app-relative.mdc-layout-grid__cell.mdc-layout-grid__cell--span-0-phone.mdc-layout-grid__cell--span-2-tablet {
        display: none !important;
    }
}

/* padding in grid for desktop */

@media (min-width: 840px) {
    & .mdc-layout-grid__inner {
        /*         display: flex !important;
        flex-flow: row wrap !important;
        align-items: stretch !important; */
        /* padding-left: 24px !important; */
        /* padding-right: 24px !important; */
        padding-left: 0 !important;
    }
}



/* progress bar on tablet */
@media (min-width: 480px) and (max-width: 839px) {
    & .app-questionnaire-progress-bar {
        /* width: calc(100% + 48px) !important; */
        position: relative !important;
        width: 100% !important; 
    }
}

/* progress bar */

@media (min-width: 480px) and (max-width: 839px) {
    & .app-questionnaire-progress-bar__background {
        width: 100% !important;
        /* position: relative !important;
        grid-column-end: 11 !important; */
    }
}

/* attempt to make the restart and show result buttons to stand in the centre */
@media (min-width: 480px) and (max-width: 839px) {
    & .mdc-layout-grid__cell--span-3-tablet {
        width: auto !important;
        grid-column-end: span 3 !important;
    }
}

/* changing the width of the header for tablet */

@media (min-width: 480px) and (max-width: 839px) {
    &
        header.sel-page-header.mdc-layout-grid__cell.mdc-layout-grid__cell--span-8-tablet.mdc-layout-grid__cell--span-12-desktop {
        width: 100% !important;
    }
}

/* fixing the width of the lines on tablet on form page */
@media (min-width: 480px) and (max-width: 839px) {
    & .mdc-layout-grid__cell--span-6,
    & .mdc-layout-grid__cell--span-6-tablet {
        width: 100% !important;
        grid-column-end: span 8 !important;
    }
}

@media (max-width: 839px) {
    & .sel-form-field.sel-form-field.sel-form-field {
        margin-right: 24px !important;
    }
}

@media (max-width: 839px) {
    & .sel-text-field__input.sel-text-field__input.sel-text-field__input {
        width: calc(100% - 24px) !important;
        margin-right: 24px !important;
    }
}


@media  (max-width: 839px) {
    & .mdc-button:not(:disabled),
    & .mdc-button--raised:not(:disabled),
    & .mdc-button--unelevated:not(:disabled) {
        /* padding: 35px 15px !important; */
        text-transform: none !important;

    }
}

/* Antworten 18 px statt 21, Beschreibung 14px statt 15) */

@media (max-width: 480px) {
    & .sel-image-button .app-grid-tile__title,
    & .sel-card__title {
        font-size: 18px !important;
        line-height: 1.4em !important; 
    }
}
/* Beschreibung 14px statt 15 */

@media (max-width: 479px) {
    & result-page .sel-product__list-expand-section-header {
        font-size: 14px !important;
    }
}

@media (max-width: 479px) {
    & .form-page-text {
        font-size: 20px !important;
        line-height: 1.4em !important; 
    }
}

@media (max-width: 479px) {
    & thank-you-page .mdc-typography--headline6 .thank-you-text {
        font-size: 20px !important;
    }
}

@media (max-width: 479px) {
    & result-page .mdc-typography--body1,
    & .sel-product__list-section ul li {
        font-size: 14px !important;
    }

    & .form-page-title {
        font-size: 20px !important;
    }

    &
        .mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea)
        .mdc-text-field__input {
        font-size: 14px !important;
    }

    & .mdc-form-field > label {
        font-size: 14px !important;
    }

    & .sel-product__list-expand-section__content ul li:before {
        font-size: 20px !important;
    }

    & result-page .mdc-typography--body1,
    & .sel-product__list-section ul li {
        line-height: 20px !important;
    }
    & .mdc-typography--subtitle1 {
        font-size: 18px !important;
    }
}
/* Tausch der Reihenfolge von Icons und Page Titles */

& questionnaire-page span.mdc-typography--headline5 {
    display: flex !important;
    flex-direction: row-reverse;
}
& .app-questionnaire-navigation-item__title .added-icon-0 {
    grid-column-start: 1 !important;
}






@media (min-width: 480px) and (max-width: 839px) {
    & .mdc-layout-grid {
    box-sizing: border-box !important;
    margin: 0 auto !important;
    padding: 0 !important;
    /* padding: 16px !important; */
    /* padding: var(--mdc-layout-grid-margin-tablet, 16px) !important; */
}
}


@media (min-width: 0px) and (max-width: 479px) {
    & .mdc-layout-grid {
    box-sizing: border-box !important;
    margin: 0 auto !important;
    padding: 0 !important;
    /* padding: 16px !important; */
    /* padding: var(--mdc-layout-grid-margin-phone, 16px) !important; */
}
}



& .mdc-layout-grid__inner {
    padding: 20px !important;
}
}